.strankovani {
  // position: re;
  height: 50px;
  font-size: 20px;

  font-family: 'Trebuchet MS',
    'Lucida Sans Unicode',
    'Lucida Grande',
    'Lucida Sans',
    Arial,
    sans-serif;
  font-weight: bold;

  p {
    display: inline;
  }

  .pred {
    float: left;

  }

  .dalsi {


    float: right;

  }
}